.{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:arial;
}

body {
background-color: pink;
color:#8bef93;
text-align: center;
}

h1 {
  color:red;
}

h1,h2,h3 {
  margin-bottom:1.2cm;
}